:root {
  --core-bg: #222429;
  --dark-bg: #0f0f13;
  --primary: #1b1b1f;
  --secondary: #17171b;
  --white: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #222429;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-family: "Open Sans", sans-serif; */
  font-family: 'Noto Sans', sans-serif;
}
.app {
  width: 100vw;
  height: 100vh;
  background: var(--core-bg);
  border: 2px solid var(--primary);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.4);
}
.c-sidepanel {
  grid-column: 1;
  display: grid;
  grid-template-columns: minmax(50px, 1fr) minmax(250px, 4fr);
}
.c-panels {
  height: 100%;
  grid-column: 1;
  background: var(--secondary);
  text-align: center;
  display: grid;
  grid-template-rows: repeat(8, 50px);
}
.c-panels__logo {
  color: var(--white);
  text-decoration: none;
  font-size: 10px;
  border-radius: 100rem;
  border: 1px solid var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 1rem auto;
}
.c-panels__navigation {
  grid-row-start: 2;
  grid-row-end: 3;
}
.c-panels__li {
  list-style: none;
  margin: 1.7rem 0;
}
.c-panels__link {
  color: rgba(255, 255, 255, 0.5);
}
.c-panels__link:hover {
  color: #fff;
}
.c-users {
  height: 100%;
  grid-column: 1, 2;
  background: var(--dark-bg);
  padding: 1rem;
}
.c-users__search {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 4px;
  border: 0;
  width: 100%;
  background-color: var(--core-bg);
  position: relative;
  font-size: 14px;
  color: var(--white);
}
.c-group-title {
  color: var(--white);
  font-size: 13px;
  text-transform: uppercase;
  margin: 1rem 0;
  color: #fff;
  display: block;
  position: relative;
  font-weight: 400;
}
.c-group-title .fa-plus,
.c-group-title .fa-chevron-down,
.c-group-title .fa-chevron-right {
  color: var(--white);
  position: absolute;
  right: 0;
}
.c-users__person {
  margin: 1rem 0;
  list-style: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.c-users__person:before {
  width: 25px;
  height: 25px;
  border-radius: 100rem;
  background: #235789;
  content: "AM";
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  margin-right: 1rem;
  transition: font-size 0.5s ease;
}
.unread-count {
  background-color: #f36;
  opacity: 0.9;
  color: var(--white);
  padding: 0 0.5rem;
  border-radius: 4px;
  position: absolute;
  right: 0;
}
.c-users__person:nth-child(n):before {
  background: #4b9cdb;
  color: var(--dark-bg);
}

.c-users__person:hover {
  color: #fff;
}
.c-users__person:hover:before {
  font-size: 8px;
}
.c-users__person:hover:after {
  opacity: 1;
}
.c-tags {
  margin: 0 0.4rem;
}
.c-tags li {
  list-style: none;
  color: var(--white);
  font-size: 14px;
  margin: 1rem 0;
  opacity: 0.5;
}
.c-tags li .fa-hashtag {
  margin-right: 0.8rem;
}
.c-tags li:hover {
  opacity: 1;
}

.c-chat__header {
  padding: 1rem 1rem 1rem 3rem;
  border-bottom: 1px solid var(--primary);
}
.c-chat__header--left {
  padding: 1rem;
}
.c-chat__header h1 {
  position: relative;
}
.c-chat__title {
  color: var(--white);
}
.c-chat__title p,
.c-chat__title button {
  margin-top: 0.5rem;
}
.c-chat__title p {
  display: inline-block;
  color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
}
.c-chat__title button {
  background: transparent;
  border: 0;
  color: var(--white);
  margin-left: 1rem;
}
.c-chat__title button .fa-plus {
  margin-right: 0.2rem;
}
.c-chat__title .fa-hashtag {
  margin-right: 1rem;
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  left: -2rem;
  top: 5px;
}
.c-chat__window {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 76vh;
  display: flex;
  flex-direction: column-reverse;
}
.c-chat__icon {
  width: 50px;
  height: 50px;
  border-radius: 100rem;
  background: #f36;
  position: absolute;
  left: 15px;
  top: 5px;
}
.c-chat__msg {
  color: var(--white);
  font-size: 12px;
  padding: 0 0 0 4rem;
  position: relative;
}
.c-chat__msg span {
  margin: 0.5rem 1rem 0.2rem 0rem;
}
.c-chat__msg p {
  margin: 1rem 0;
  color: rgba(255, 255, 255, 0.6);
}
.c-chat__msg time {
  opacity: 0.3;
  position: relative;
  display: inline-flex;
  align-items: center;
}
.c-chat__msg time:before {
  content: "";
  width: 5px;
  height: 5px;
  background: var(--white);
  border-radius: 100rem;
  display: inline-block;
  margin-right: 0.5rem;
}
.c-chat__text {
  padding: 1rem;
  border-bottom: 1px solid var(--primary);
}
.c-chat-info {
  border-left: 1px solid var(--primary);
}
.c-chat__options {
  padding: 1rem;
}
@media only screen and (max-width: 900px) {
  .app {
    grid-template-columns: 1fr 2fr;
  }
  .c-chat-info {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .app {
    grid-template-columns: 50px 1fr;
  }
  .c-users {
    display: none;
  }
}

.c-chat__window::-webkit-scrollbar {
  width: 3px;
}

.c-chat__window::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 1px;
}

.c-chat__window::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.c-chat__window::-webkit-scrollbar-track {
  background-color: #1b1b1f;
}

.load-3 {
  padding-left: 20rem;
}

.line {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #4b9cdb;
}

.load-3 .line:nth-last-child(1) {
  animation: loadingC 0.6s 0.1s linear infinite;
}
.load-3 .line:nth-last-child(2) {
  animation: loadingC 0.6s 0.2s linear infinite;
}
.load-3 .line:nth-last-child(3) {
  animation: loadingC 0.6s 0.3s linear infinite;
}

@keyframes loadingC {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.third {
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.btn:hover,
.btn:focus {
  color: #fff;
  outline: 0;
}

.chat-input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(18, 23, 45, 0.6) 0px 8px 24px;
  margin-top: auto;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 6px;
  padding: 12px;
  background-color: #222429;
}

.chat-wrapper {
  overflow: auto;
}
.chat-input {
  border: none;
  outline: none;
  height: 32px;
  flex: 1;
  margin-right: 4px;
  background-color: #222429;
  color: #ffffff;
}
.chat-input:placeholder {
  color: #445e78;
  font-size: 12px;
}

.input-wrapper {
  border: 1px solid #8187a2;
  border-radius: 4px;
  font-size: 12px;
  display: flex;
  flex: 1;
  overflow: hidden;
  padding: 0 6px 0 12px;
  justify-content: space-between;
  margin: 0 8px;
  background-color: #222429;
}

.emoji-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4px;
  color: #ffca3e;
}
.chat-send-btn {
  height: 32px;
  color: #fff;
  background-color: #477eff;
  border: none;
  border-radius: 4px;
  padding: 0 32px 0 10px;
  font-size: 12px;
  background-position: center right 8px;
  background-repeat: no-repeat;
  background-size: 14px;
  line-height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cdefs/%3E%3Cpath fill='%23fff' d='M481.508 210.336L68.414 38.926c-17.403-7.222-37.064-4.045-51.309 8.287C2.86 59.547-3.098 78.551 1.558 96.808L38.327 241h180.026c8.284 0 15.001 6.716 15.001 15.001 0 8.284-6.716 15.001-15.001 15.001H38.327L1.558 415.193c-4.656 18.258 1.301 37.262 15.547 49.595 14.274 12.357 33.937 15.495 51.31 8.287l413.094-171.409C500.317 293.862 512 276.364 512 256.001s-11.683-37.862-30.492-45.665z'/%3E%3C/svg%3E");
}
.chat-attachment-btn {
  border: none;
  padding: 0;
  background-color: transparent;
  color: #445e78;
  display: flex;
  align-items: center;
  opacity: 0.7;
}
.c-chat-info{
  overflow-y: scroll;
  height: 99vh;
}

.group {
  position: relative;
  margin: 55px 20px;

}
.group input {
  font-size: 13px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
  border-radius: 10px;
  background-color: #303238;
  color: white;
}
.group input:focus {
  outline: none;
}

/* LABEL ======================================= */
.group label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  
}

/* active state */
.group input:focus ~ label,
.group input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264ae;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 300px;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264ae;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}


.user-container {
  max-width: 100rem;
  margin: 0 ;
}


.filters {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.filters * {
  display: inline-block;
}
 
.filters span {
  padding: 0.5rem 1rem;
  margin-bottom: 0.25rem;
  border-radius: 14px;
  min-width: 50px;
  line-height: normal;
  cursor: pointer;
  transition: all 0.1s;
  border:2px solid #5e5d5d;
  color:white
}

.user:hover {
  background: var(--green);
  color: var(--white);
}  

.cross{
  margin-left: 5px;
}

.c-chat-info::-webkit-scrollbar {
  width: 3px;
}

.c-chat-info::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 1px;
}

.c-chat-info::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.c-chat-info::-webkit-scrollbar-track {
  background-color: #1b1b1f;
}


.chat-btns{
  text-align: center;
}

.fill {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.fill:hover,
.fill:focus {
  background-color: #F082AC;
}

#create{
  background-color: #627fc4;
}
#create:hover,
#create:focus {
  background-color: #8da1ce;
}

#new-group-icon:hover{
  cursor: pointer;
}

#leave{
height: 30px;
padding: 5px;
}

.container {
  position: fixed;
  top: 40px;
  right: 10px;
}

.alert_notification {
  background-color: #e41749;
  border: 2px solid #e99e9e;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  color:white;
}

.success_notification {
  background-color: #12c99b;
  border: 2px solid #bfefb3;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  color:white;
}
#delete{
  height: 30px;
padding: 5px;
  background-color: rgb(219, 54, 54);
}
#cancelPreview{
 
    background-color: rgb(219, 54, 54); 
}

.admin {
  background-color: none;
  opacity: 0.9;
  color: yellow;
  padding: 0 0.5rem;
  border-radius: 4px;
  position: absolute;
  right: 0;
}

.minus{
  opacity: 0.9;
  padding: 0 0.5rem;
  border-radius: 4px;
  position: absolute;
  right: 0px;
}

.minus:hover{
  transform: scale(1.5);
}

.plus{
 
  opacity: 0.9;
  padding: 0 0.5rem;
  border-radius: 4px;
  position: absolute;
  right: 20px;
}

.plus:hover{
  transform: scale(1.5);
}

#add-to-existing{
  background-color: transparent;
  color: white;
  padding: 4px;
  border: none;
  position: absolute;
  right: 0px;
}
#add-to-existing:hover{
  cursor: pointer;
}

#chat-list{
  height: 100vh;
  overflow-y: scroll;
}

#chat-list::-webkit-scrollbar {
  width: 0px;
}

#chat-list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 1px;
}

#chat-list::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

#chat-list::-webkit-scrollbar-track {
  background-color: #1b1b1f;
}
body::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and newer versions of Edge */
}
#attachButton:hover{
 cursor: pointer;
}
#preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Set the desired height for the container */
  /* height: 400px; Adjust as needed */
  border: 1px solid #ccc; /* For demonstration */
  position: relative;
}

/* Style the preview image */
#previewImage {
  max-width: 100%;
  max-height: 90vh;
  width: auto;
  height: auto;
}
#preview-btns{
  margin-top: 25px ;
}