<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./frontend/stylesheets/home.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <title>Document</title>
</head>
<body>
  Yo Guys  
  <script type="module" src="./frontend/scripts/home.js"></script>
</body>
</html>


